<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <link rel="shortcun icon" href="{$basePath}/../app/assets/img/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
	<title>Nette Web</title>
</head>

<body>
    <main>
        <nav id="navbar-style" class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a n:href="Homepage:" class="navbar-brand text-white">
                    <img src="{$basePath}/../app/assets/img/logo_transparent.png" class="">
                </a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                   <svg>
                        <use xlink:href="{$basePath}/../app/assets/img/sprite.svg#icon-menu">
                   </svg>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto text-end me-3 mt-3">
                        <li class="nav-item" n:foreach="$navItems as $navItem">
                            <a n:href="Homepage:detail $navItem->id" class="nav-link">{$navItem->title}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        {include content}
        <footer>
            <div class="container py-3">
                <div class="row">
                    <div class="col-sm-4 text-center my-auto">
                        <div class="copy">
                          Copyright&copy;2022
                       </div>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-center align-items-center">
                         <div class="media d-flex">
                            <div class="circle">
                                <svg>
                                    <use xlink:href="{$basePath}/../app/assets/img/sprite.svg#icon-facebook">
                                </svg>
                            </div>
                            <div class="circle mx-3">
                                <svg>
                                    <use xlink:href="{$basePath}/../app/assets/img/sprite.svg#icon-twitter">
                                </svg>
                            </div>
                            <div class="circle">
                                <svg>
                                    <use xlink:href="{$basePath}/../app/assets/img/sprite.svg#icon-instagram">
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center my-auto">
                        <div class="terms">
                            <a href="#">Zásady ochrany osobních údajů</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
{block scripts}
    <script src="{$basePath}/../web/dist/web.bundle.js"></script>
{/block}
</body>
</html>
