.btn.btn-primary{
    text-transform: uppercase;
    color: white;
    background-color: transparent;
}

#cta{
    .cta-button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
