:root{
    --swiper-theme-color: #F7DC6F!important;
    --swiper-navigation-size: 25px!important;
}
.mySwiper {
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
        opacity: 1;
    }
    .swiper-pagination-bullet{
        opacity: 0.6;
        background: $color-primary;
    }
}
.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide img{
    display: block;
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}
