body{
    font-family: 'Open Sans', sans-serif!important;
}

.heading-primary{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 3em;
    color: white;
}

h5 .heading-seconary{
    font-family: 'Open Sans';
    font-size: 1rem;
}

.heading-tercinary{
    font-style: italic;
    color:white;
}

.swiper-heading{
    text-align: center;
    z-index: 10;
    @include absCenter;
}

.perex{
    font-size: 13px;
}