#showcase{
    height: 500px;
}

#references{
    height: 100%;
}

footer{
    background-color: $color-primary;
    .circle{
        background-color: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    svg{
        fill: white;
        width: 20px;
        height: 20px;
    }
}
